.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;

  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

div {
  border: 1px solid red;
}


.header {
   margin-bottom: 100px;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
}

.header__title {
  align-self: center;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  
}

.content {
  display: block;
}

.description {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: auto;
}

.two-columns__brief {
  margin-block: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin-block: 0;
  margin: 0;
  width: 80%;
  min-width: 784px;
}

/* у 1-го элемента margin-top: 0 */
.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

/* у остальных margin-top: 30px */
.two-columns__paragraph {
  margin-top: 30px;
  list-style-type: none;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  margin-top: 30px;
  font-weight: 600;
}

.digits {
  margin-bottom: 100px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title {
  margin-block: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  
}

.section-subtitle {
  margin-block: 0;
  margin-top: 20px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;

}

.table__cell {
  margin-top: 60px;
  width: 250px;
  text-align: start;
  
}

.table__heading {
  margin-block: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-block-end: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Метод Фейнмана */
.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  text-align: center;
}

.feynman__title {
  padding-top: 100px;
  margin: auto;
  margin-block: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
}

.feynman__subtitle {
  margin-block: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  margin-block: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/* тёмная тема */
.kaufman {
  display: flex;  
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  margin-top: 90px;
  width: 60%;
  color: white;
  
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
  
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
}

/* Подвал сайта */
.footer {
  display: block;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  padding: 60px auto 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
}

/* 1-й столбец подвала */
.footer__columns_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {

}

.footer__author {

}

/* 2-й столбец подвала */
.footer__columns_content_info {

}

.footer__column-heading {

}

.footer__column-links {

}

/* 3-й столбец подвала */
.footer__columns_content_social {

}

.footer__social-icon {

}

.footer__column-link {

}